
body{
    background-color: cornflowerblue;
}
.container{
    margin: 50px auto;
    background-color: rgb(36, 51, 100);
    border-radius: 20px;
    padding: 10px;
    width: 600px;
    justify-content: center;
    display: flex;
}
input{
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 10px;
}
label{
    display:block;
    margin-bottom: 8px;
}
#fundo{
    justify-content: center;
    display: flex;
    color: antiquewhite;
}
#Texto1{
    justify-content: center;
    display: flex;
    color
}
