
body{
    background-color:rgb(149, 182, 212);
}
.fundo{
    color:rgb(0, 0, 0)
}
input{
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.container{
    background-color: rgb(48, 96, 150);
    border-radius: 20px;
    padding: 10px;
    width:auto;
}
label{
    flex-direction: column;
    display:block;
    margin-bottom: 8px;
}
#Titulo1{
    color:rgb(0, 0, 0)
}
